.bingo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* コンテナの高さを画面全体に設定 */
}

body {
    background-image: url(images/tree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bingo-cell {
    width: 108px;
    height: 108px;
    border: 1px solid #000;
    padding: 10p;
    font-size: 54px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
}

.qr-stamp-page {
    display: flex;
    flex-flow: column;
}

.finish-qr {
    display: flex;
    flex-flow: column;
}